<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>projectMOON</title>
    <meta charset="utf-8" />
    <!-- meta tag for older browsersr -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/styles.css' %}"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css"
    />
  </head>

  <body onload="selectRandomBackground()">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img
            src="{% static 'assets/svg_logo_circle.svg' %}"
            alt=""
            width="40"
            height="40"
          />
          <span class="ps-3 text-center">ProjectMOON</span>
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/wiki"> Wiki </a>
            </li>

            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Cards
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for family in families %}
                <li>
                  <a class="dropdown-item" href="/families/{{family.id}}">
                    {{family.name}}
                  </a>
                </li>
                {% endfor %}
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="#">Future families</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users">Users</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link disabled"
                href="#"
                tabindex="-1"
                aria-disabled="true"
                >Shop</a
              >
            </li>
          </ul>
          <form class="d-flex">
            <div class="row align-items-center">
              <div class="col">
                <input
                  class="form-control me-1"
                  type="search"
                  placeholder="Search"
                  aria-label="Search"
                />
              </div>
              <div class="col">
                <button class="btn btn-outline-success" type="submit">
                  Search
                </button>
              </div>
              <div class="col">
                <button
                  type="button"
                  class="btn btn-outline-danger"
                  onclick="location.href='/under_construction'"
                >
                  Download
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </nav>

    <!-- MAIN  PAGE -->
    <div class="container d-flex family-image" id="content">
      <div class="row justify-content-center align-self-end w-100">
        {% for family in families %}
        <div
          class="col text-center mx-3 family-icon-holder"
          onmouseover="setBackgroundImage('{{family.id}}');"
          onclick="location.href='/families/{{family.id}}'"
        >
          <div class="img-circle">
            <img
              src="{{family.url_shield}}"
              class="family-icon"
              width="60"
              height="60"
            />
          </div>
          <span>{{family.name}}</span>
        </div>
        {% endfor %}
      </div>
    </div>

    <div style="padding: 50px"></div>

    <div class="footer-basic bg-light">
      <footer>
        <div class="social">
          <a href="https://www.instagram.com/projectmoonxyz/"
            ><i class="icon ion-social-instagram"></i
          ></a>
          <a href="https://twitter.com/projectMOONxyz"
            ><i class="icon ion-social-twitter"></i
          ></a>
          <a href="mailto:projectmoonxyz@gmail.com"
            ><i class="icon ion-email"></i
          ></a>
        </div>

        <p class="copyright">projectMOON © 2021</p>
      </footer>
    </div>

    <script
      src="http://code.jquery.com/jquery-3.1.1.js"
      integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>
    <script>
      const family_backgrounds_by_id = {
        2: "https://i.imgur.com/uNwPfIj.png",
        3: "https://i.imgur.com/tfaABTX.png",
        4: "https://i.imgur.com/LM6kmOF.png",
        5: "https://i.imgur.com/D6gG1JB.png",
        6: "https://i.imgur.com/xosss4J.png",
        7: "https://i.imgur.com/FaH032p.png",
        8: "https://i.imgur.com/04Q0cR1.png",
        9: "https://i.imgur.com/ANs3Na4.png",
      };

      function setBackgroundImage(family_id) {
        let content = document.getElementById("content");
        let url = family_backgrounds_by_id[family_id];
        // https://www.w3schools.com/jsref/tryit.asp?filename=tryjsref_style_background
        content.style["background-image"] = `url(${url})`;
      }

      function getRandomInt(max) {
        max = Math.floor(max);
        return Math.floor(Math.random() * (max + 1));
      }

      function selectRandomBackground() {
        // https://stackoverflow.com/questions/1527803/generating-random-whole-numbers-in-javascript-in-a-specific-range?answertab=votes#tab-top
        let backgrounds = Object.keys(family_backgrounds_by_id);
        let index = getRandomInt(backgrounds.length);
        let family_id = backgrounds[index];
        console.log(`poniendo ${family_id}`);
        setBackgroundImage(family_id);
      }
    </script>
  </body>
</html>
