/* .container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: minmax(200px, 1fr);
} */
body,
html {
  width: 100%;
  height: 100%;
}

.family-image {
  display: block;
  height: 85%;
  background-size: auto 80%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
  transition: all 0.3s linear;
}

/* https://stackoverflow.com/questions/7217244/style-child-element-when-hover-on-parent?answertab=votes#tab-top */
.family-icon-holder:hover .family-icon {
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
    inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
    inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  -o-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
    inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
    inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  transform: translate(0px, -20px) scale(1.25);
  cursor: pointer;
  border: 4px solid #fff;
  /* https://stackoverflow.com/questions/20305594/circle-with-two-borders?answertab=votes#tab-top */
  box-shadow: 0 0 0 2px #febf04, 0 0 0 4px white, 0 0 0 6px #febf04;
}

.family-icon {
  transition: all 0.3s linear;
  border-radius: 50%;
}

.family-icon:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
    inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
    inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  -o-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
    inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
    inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  transform: translate(0px, -20px) scale(1.25);
  border: 4px solid #fff;
  box-shadow: 0 0 0 2px #febf04, 0 0 0 4px white, 0 0 0 6px #febf04;
}

.flip-card {
  cursor: pointer;
  /* display:block; */
  transition: all 0.3s linear;
  background-color: transparent;
  width: 230px;
  height: 420px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  color: #45311b;

  border-radius: 4px;
  border: 1px solid #bbb;
  padding: 20px 2px 0px 2px;
}

.flip-card-front {
  text-align: center;
  font-size: 20px;
  font-style: italic;
  font-weight: 450;
}

.flip-card-back {
  transform: rotateY(180deg);
}

.flip-card-image {
  width: 225px;
  height: 350px;
}

/***********************************************************************
 *  Yellow Background
 **********************************************************************/
.yellow {
  background: #f3aaaa; /* Old browsers */
  background: -moz-linear-gradient(top, #f3aaaa 0%, #febf04 100%); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #f3aaaa),
    color-stop(100%, #febf04)
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    top,
    #f3aaaa 0%,
    #febf04 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    top,
    #f3aaaa 0%,
    #febf04 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f3aaaa 0%, #febf04 100%); /* IE10+ */
  background: linear-gradient(top, #f3aaaa 0%, #febf04 100%); /* W3C */
}

.footer-basic {
  padding: 40px 0;
  background-color: #ffffff;
  color: #4b4c4d;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social > a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}
